The generated report is not RFC compliant

RFC-3462 requires reports to have the multipart/report content type for the whole report message.  

Moreover, RFC-5965 has further requirements on content types for parts, e.g. the second MIME part should have the message/feedback-report content type and has three required headers for the message: Feedback-Type, User-Agent, and Version.

Finally, RFC-6591 has several requirements one of them is to set the Feedback-Type to auth-failure.